In [ ]:
da=input("Enter your starting destination")
db=input("Enter your 2nd destination")

Enter your starting destinationIndia
Enter your 2nd destinationDubai

In [ ]:
days=int(input("enter your visiting duration"))

enter your visiting duration5

In [ ]:
adults = int(input("Ënter number of adults"))
kids = int(input("Ënter number of kidss"))

Ënter number of adults2
Ënter number of kidss2

In [ ]:
print("Money spent on following things : ")
print("1. Airways cost single trip: 200$ per Adult and 150$ for kid")
print("2. Hotel cost per day is 100$ per Adult and 50$ for kid")
print("3. visa applying cost 100$ per Adult and 50$ for kid")
print("4. buying souveniers 200$ ")
print("5. food 100$ per Adult and 50$ for kid for 1 day")
print("6. shopping for travel 500$")
print("7. visiting burj khalifa 300$ per Adult and 200$ for kid")
print("8. going to ferrari world theme park 250$ per Adult and 200$ for kid")
print("9. going to the dubai aquarium 100$ per Adult and 50$ for kid")
print("10. travelling in dubai 50$ per Adult and 25$ for kid")
print("11. buying gifts for yourself 500$")
print("12. going on a cruise ride 300$ per Adult and 250$ for kid")
print("13. going for sightseeing 100$ per Adult and 50$ for kid")
print("14. going on a helicopter ride of Dubai 500$ per Adult and 400$ for kid")
print("15. visiting the internation F1 race circuit 200$ per Adult and 150$ for kid")

ways to spend money are :
1. Airways cost : 200$ per Adult and 150$ for kid
2. Hotel cost 200$ per Adult and 150$ for kid
3. visa applying cost 100$ per Adult and 50$ for kid
4. buying souveniers 200$
5. food 100$ per Adult and 50$ for kid for 1 day
6. shopping for travel 500$
7. visiting burj khalifa 300$ per Adult and 200$ for kid
8. going to ferrari world theme park 250$ per Adult and 200$ for kid
9. going to the dubai aquarium 100$ per Adult and 50$ for kid
10. travelling in dubai 50$ per Adult and 25$ for kid
11. buying gifts for yourself 500$
12. going on a cruise ride 300$ per Adult and 250$ for kid
13. going for sightseeing 100$ per Adult and 50$ for kid
14. going on a helicopter ride of Dubai 500$ per Adult and 400$ for kid
15. visiting the internation F1 race circuit 200$ per Adult and 150$ for kid

In [ ]:
# cut for 1 2 3 
airplane = (adults*200+kids*150)
print("Round trip cost for airplane is",airplane,'$')
hotel= (adults*100+kids*50)*5
print("total hotel stay for ",days ,"days is ",hotel,'$')
visa = (adults*100+kids*50)
print("Applying country visa for all is",visa,'$')

Round trip cost for airplane is 700 $
total hotel stay for  5 days is  1500 $
Applying country visa for all is 300 $

In [ ]:
#day1
print("this is the first day")
acts=int(input("how many number of activites would you like to do today"))
total =0
x=int(input("enter number of adults"))
y=int(input("enter number of kids"))

print("Enter the services done from 4 to 15")
for i in range(acts):
  i=int(input())
  if(i==1):
    total+=(200*x+150*y)
  if(i==2):
    total+=(200*x+150*y)
  if(i==3):
    total+=(100*x+50*y)
  if(i==4):
    total+=(200)
  if(i==5):
    total+=(100*x+50*y)
  if(i==6):
    total+=(500)
  if(i==7):
    total+=(300*x+200*y)
  if(i==8):
    total+=(250*x+200*y)
  if(i==9):
    total+=(100*x+50*y)
  if(i==10):
    total+=(50*x+25*y)
  if(i==11):
    total+=(500)
  if(i==12):
    total+=(300*x+250*y)
  if(i==13):
    total+=(100*x+50*y)
  if(i==14):
    total+=(500)
  if(i==15):
    total+=(200*x+150*y)
print(total)

how many number of activites would you like to do today4
enter number of adults2
enter number of kids1
this is the first day
Enter the services done from 1 to 15
12
11
4
5
1800

In [ ]:
#day2
print("this is the second day")
acts2=int(input("how many number of activites would you like to do today"))
total2 =0
x2=int(input("enter number of adults"))
y2=int(input("enter number of kids"))

print("Enter the services done from 4 to 15")
for i in range(acts2):
  i=int(input())
  if(i==1):
    total2+=(200*x2+150*y2)
  if(i==2):
    total2+=(200*x2+150*y2)
  if(i==3):
    total2+=(100*x2+50*y2)
  if(i==4):
    total2+=(200)
  if(i==5):
    total2+=(100*x2+50*2)
  if(i==6):
    total2+=(500)
  if(i==7):
    total2+=(300*x2+200*y2)
  if(i==8):
    total2+=(250*x2+200*y2)
  if(i==9):
    total2+=(100*x2+50*y2)
  if(i==10):
    total2+=(50*x2+25*y2)
  if(i==11):
    total2+=(500)
  if(i==12):
    total2+=(300*x2+250*y2)
  if(i==13):
    total2+=(100*x2+50*y2)
  if(i==14):
    total2+=(500)
  if(i==15):
    total2+=(200*x2+150*y2)
print(total2)

how many number of activites would you like to do today2
enter number of adults13
enter number of kids15
this is the first day
Enter the services done from 1 to 15
13
15
6900

In [ ]:
#day3
print("this is the third day")
acts3=int(input("how many number of activites would you like to do today"))
total3 =0
x3=int(input("enter number of adults"))
y3=int(input("enter number of kids"))

print("Enter the services done from 4 to 15")
for i in range(acts3):
  i=int(input())
  if(i==1):
    total3+=(200*x3+150*y3)
  if(i==2):
    total3+=(200*x3+150*y3)
  if(i==3):
    total3+=(100*x3+50*y3)
  if(i==4):
    total3+=(200)
  if(i==5):
    total3+=(100*x3+50*y3)
  if(i==6):
    total3+=(500)
  if(i==7):
    total3+=(300*x3+200*y3)
  if(i==8):
    total3+=(250*x3+200*y3)
  if(i==9):
    total3+=(100*x3+50*y3)
  if(i==10):
    total3+=(50*x3+25*y3)
  if(i==11):
    total3+=(500)
  if(i==12):
    total3+=(300*x3+250*y3)
  if(i==13):
    total3+=(100*x3+50*y3)
  if(i==14):
    total3+=(500)
  if(i==15):
    total3+=(200*x3+150*y3)
print(total32)

how many number of activites would you like to do today5
enter number of adults1
enter number of kids2
this is the first day
Enter the services done from 1 to 15
1
2
3
4
5
1600

In [ ]:
#day4
print("this is the fourth day")
acts4=int(input("how many number of activites would you like to do today"))
total4 =0
x4=int(input("enter number of adults"))
y4=int(input("enter number of kids"))

print("Enter the services done from 4 to 15")
for i in range(acts4):
  i=int(input())
  if(i==1):
    total4+=(200*x4+150*y4)
  if(i==2):
    total4+=(200*x4+150*y4)
  if(i==3):
    total4+=(100*x4+50*y4)
  if(i==4):
    total4+=(200)
  if(i==5):
    total4+=(100*x4+50*y4)
  if(i==6):
    total4+=(500)
  if(i==7):
    total4+=(300*x4+200*y4)
  if(i==8):
    total4+=(250*x4+200*y4)
  if(i==9):
    total4+=(100*x4+50*y4)
  if(i==10):
    total4+=(50*x4+25*y4)
  if(i==11):
    total4+=(500)
  if(i==12):
    total4+=(300*x4+250*y4)
  if(i==13):
    total4+=(100*x4+50*y4)
  if(i==14):
    total4+=(500)
  if(i==15):
    total4+=(200*x4+150*y4)
print(total4)

how many number of activites would you like to do today2
enter number of adults7
enter number of kids1
this is the first day
Enter the services done from 1 to 15
6
7
2800

In [ ]:
#day5
print("this is the fifth day")
acts5=int(input("how many number of activites would you like to do today"))
total5 =0
x5=int(input("enter number of adults"))
y5=int(input("enter number of kids"))

print("Enter the services done from 4 to 15")
for i in range(acts5):
  i=int(input())
  if(i==1):
    total5+=(200*x5+150*y5)
  if(i==2):
    total5+=(200*x5+150*y5)
  if(i==3):
    total5+=(100*x5+50*y5)
  if(i==4):
    total5+=(200)
  if(i==5):
    total5+=(100*x5+50*y5)
  if(i==6):
    total5+=(500)
  if(i==7):
    total5+=(300*x5+200*y5)
  if(i==8):
    total5+=(250*x5+200*y5)
  if(i==9):
    total5+=(100*x5+50*y5)
  if(i==10):
    total5+=(50*x5+25*y5)
  if(i==11):
    total5+=(500)
  if(i==12):
    total5+=(300*x5+250*y5)
  if(i==13):
    total5+=(100*x5+50*y5)
  if(i==14):
    total5+=(500)
  if(i==15):
    total5+=(200*x5+150*y5)
print(total5)

how many number of activites would you like to do today1
enter number of adults2
enter number of kids1
this is the first day
Enter the services done from 1 to 15
8
700

In [ ]:
allTotal = total+total2+total3+total4+total5
print("total = ",allTotal )

total =  13800